* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}

html {
  background: linear-gradient(#9198e5, #e66465);
  background-size: cover;
  background-repeat: no-repeat;
}

/* grid css setting */
body {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0 auto;
}
main::before,
main::after{
  display: "table";
  content: "";
}
main {
  width: 100%;
  margin: 25px auto;
}
.snippet-block  {
  padding-top: 1.0416666%;
  padding-bottom: 1.0416666%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.0416666%;
  padding-right: 1.0416666%;
  text-align: center;
}

/* media query */
@media screen and()

/* layout css */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  
}
nav form {
  text-align: center;

}

.pageInfo {
  /* background-color: grey; */
}
.pageInfo .result-number {
  float: right;
}

/* snippet-block css */
.snippet-block {
  width: 100%;
  height: 220px;
  padding: 15px;
  /* border: 1px solid black; */
}
.snippet-block .thumbnail {
  width: 50%;
  height: 200px;
  display: block;
  float: left;
}
.snippet-block .textInfo {
  width: 50%;
  height: 200px;
  padding: 35px;
  text-align: left;
  float: left;
}
.clearfix {
    overflow: auto;
}
